.main{
    padding: 2%;
    border: 2px solid green;
}
.logo>img{
    height: 100px;
    width: auto;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
.content{
    background-color: green;
    width: 400px;
    height: 100px;
}