

.main{
    padding: 2%;
    border: 2px solid green;
    margin-top: 70px;
    border-radius: 20px ;
    width: 500px;
    margin-left: 12%;
}
.logo>img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    width: auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    
}
.content{
    background-color: green;
    width: 400px;
    height: 100px;
}

.item-name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32pt;
    color: #385d42;
    margin-bottom: 15px;
    text-align: center;
}

.was-price{
    padding-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26pt;
    color: red;
    
}

.now-price{
    padding-top: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36pt;
    color: red;
    font-weight: 500;
    
}

@media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }